@media (max-width: 900px) {
    header {
        flex-direction: column;
        
    }
    header h1{
        font-size: 40px;
    }

    nav ul {
        flex-direction: column;
    }
    nav ul a {
        font-size: 40px;
    }
    ul li:first-child {
        margin-top: 100px;
    }
    ul li {
        margin-top: 50px;
    }
    ul li a:hover {
        padding: 17px 40px;

    }
    li.cadastro a {
        font-size: 18px;
        padding: 15px 22px;
    }

    li.cadastro a:hover {
        font-size: 18px;
        padding: 10px 20px;
    }
   
    

}
