@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.header {
   display: flex;
   justify-content: space-between;
   padding: 45px;
   align-items: center;
   
}
.header p {
    font-weight: 800;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav.nav ul {
    display: flex;
    justify-content: space-around; align-items: center;

}
li a {
    margin-left: 30px;
    padding: 10px 10px;
}

li a:hover {
    
    margin-left: 30px;
    background-color: #5BC241;
    transition: background 0.5s;
    color: #fff;
    
}
li.cadastro a {
    background-color: #5BC241;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}






